.tool-top-textarea {
  background-color: #1E90FF;
  border-radius: 10px;
}

.tool-table {
  width: 100%;
  border-spacing: 0px;
}

.lg-tool-background-color {
  background-color: #F3F8Fb;
  border-radius: 10px;
}

.tool-textarea-scroll {
  overflow-y: scroll;
  border: 0.5px solid gray;
  height: 400px; 
  border-radius: 5px;   
}

.tool-label-include {
  border-radius: 5px;
}

.background-tool {
  background-color: #f4df3b;
}

.lg-tool-background-color {
  background-color: #F3F8Fb;
  border-radius: 10px;
}